# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.d
uAmp/Drivers/
uAmp/MDK-ARM/f0_uAmp Configuration/stm32f0xx_hal_i2c_ex.crf
uAmp/MDK-ARM/f0_uAmp Configuration/
uAmp/MDK-ARM/
